body {
    background: url(/images/background.jpg) no-repeat #e9f0f4;
}

.wrapper{
    position: relative;
    margin-bottom: 20px;
    padding-top: 100px;
}

.login-box{
    width: 714px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
}

.login-box .mod-body{
    padding: 50px 60px 0 60px;;
}

.login-box .mod-footer{
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    padding: 0 60px 50px 60px;
    color: #66b7ff;
}

.login-box .mod-body .content {
    width: 300px;
    margin-right: 60px;
}

.login-box .mod-body .side-bar {
    height: 220px;
    padding: 60px 0 60px 60px;
    border-left: 1px solid #e6e6e6;
}
.login-box .mod-footer .alert{
    padding: 0;
    margin-bottom: 0;
    line-height: 30px;
    width: 350px;
}
