<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/community.js"></script>

</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--分类栏-->
            <ul class="nav nav-tabs profile-top" role="tablist">
                <li role="presentation" th:class="${section == 'question'}? 'active' : ''"><a
                        href="/profile/question" role="tab">全部</a></li>
                <li role="presentation" th:each="category:${session.categories}"
                    th:class="${section == 'category-'+categoryStat.index}? 'active' : ''">
                    <a th:href="@{'/profile/category-'+${categoryStat.index}}" role="tab"
                       th:text="${category}"></a></li>
                <li role="presentation"><a type="button" role="tab" data-toggle="modal" data-target="#exampleModal"
                                           data-whatever="@mdo" style="cursor: pointer;"><span
                        class="glyphicon glyphicon-plus"></span></a></li>
            </ul>
            <!--弹出框-->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="category-close" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">添加分类</h4>
                        </div>
                        <form>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="category-name" class="control-label">分类名</label>
                                    <input type="text" class="form-control" id="category-name" placeholder="输入一个新分类名" autocomplete="off" required>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="category-input">确认</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-question" th:if="${section =='question'}">
                <div class="media" th:each="question:${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.user.avatarUrl}" alt="www">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 · <span
                                th:text="${question.viewCount}"></span>次浏览 · <span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MMMM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </div>
            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='replies'}">
                <div class="media" th:each="notification:${pagination.data}">
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${notification.notifierName+' '+notification.typeName+' '}"></span>
                            <a th:href="@{'/notification/'+${notification.id}}"
                               th:text="${notification.outerTitle}"></a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                        </h4>
                    </div>
                </div>
            </div>
            <!--分类-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 profile-question"
                 th:if="${section.substring(0,4) =='cate'}">
                <div class="media" th:each="question:${pagination.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.user.avatarUrl}" alt="www">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 · <span
                                th:text="${question.viewCount}"></span>次浏览 · <span
                                th:text="${#dates.format(question.gmtCreate,'yyyy-MMMM-dd HH:mm')}"></span></span>
                    </div>
                </div>
            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'?page='+${1}}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'?page='+${pagination.page - 1}}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active' : ''">
                            <a th:href="@{'?page='+${page}}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'?page='+${pagination.page + 1}}" aria-label="Previous">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'?page='+${pagination.totalPage}}" aria-label="Previous">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/question"
                   th:class="${section == 'question'}? 'list-group-item active' : 'list-group-item'">我的问题</a>
                <a href="/profile/replies"
                   th:class="${section == 'replies'}? 'list-group-item active' : 'list-group-item'">最新回复
                    <span class="badge" th:text="${session.unreadCount}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>